.login-box {
  width: 400px;
  padding: 40px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);

  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box-light {
  width: 400px;
  padding: 40px;
  margin: 0 auto;
  background: rgba(206, 206, 206, 0.4);

  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.main{
  background: url('./assets/background2.jpg')fixed center;
  font-family: monospace;
  background-size: cover;
  height: 1000px;

}

.main-light{
  background: url('./assets/bgclaro.jpg')fixed center;
  font-family: monospace;
  background-size: cover;
  height: 1000px;
}

body{
  padding: 0;
  margin: 0;

}



.login-box .user-box .input {
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
  padding-top: 10px;
  transition: 1s;
}

.login-box-light .user-box .input {
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
  padding-top: 10px;
  transition: 1s;
}

.login-box .user-box .input:focus {
 
  border-bottom: 1px solid #791292;
  outline: none;


  transition: 1s;
}

.login-box-light .user-box .input:focus {
 
  border-bottom: 1px solid #791292;
  outline: none;
  color: #000000;


  transition: 1s;
}



.login-box .user-box .label{
  padding: 10px 0;
  font-size: 12px;
  color: #ffffff;
  pointer-events: none;
  transition: .5s;
}

.login-box-light .user-box .label{
  padding: 10px 0;
  font-size: 12px;
  color: #000000;
  pointer-events: none;
  transition: .5s;
}


.login-box  form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
background-color: transparent;
  border: none;
  transition: 1s;
}

.login-box-light  form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #5c595c;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: none;
  transition: 1s;
}

.login-box button:hover {
  background: #791292;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px #791292,
              0 0 40px #791292,
              0 0 80px #791292,
              0 0 120px #791292;
  cursor: pointer;
}

.login-box-light button:hover {
  background: #791292;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px #791292,
              0 0 40px #791292,
              0 0 80px #791292,
              0 0 120px #791292;
  cursor: pointer;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box-light button span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #791292);
  animation: btn-anim1 1s linear infinite;
}

.login-box-light button span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #791292);
  animation: btn-anim1 1s linear infinite;
}


legend{
  color: #773a79;
  font-size: 16px;
} 


.color{
  /* background-color: #3e3c3f; */
  border: none;
  margin-right: 20px;
  background-color: rgb(150, 147, 147);
  height: 30px;
  width: 80px;
  padding: 0;
  
}



.div{
  display: flex;
  justify-content: center;
  align-items: center;

}

.main a{
  text-decoration: none;
  color: #773a79;
  font-size: 12px;
  transition: 1s;
  text-shadow: 1px 1px 1px #000000;
}

.main-light a{
  text-decoration: none;
  color: #88638a;
  font-size: 12px;
  transition: 1s;
  text-shadow: 1px 1px 1px #000000;
}


a:hover{
  text-decoration: none;
  color: #791292;
  font-size: 12px;
  transition: 1s;
}

img{
width: 50px;
height: 50px;
margin-right: 5px;

}

.toggle{
  text-align: center;
}


@media (max-width: 700px) {
  .login-box {
    width: 260px;
    padding: 20px;
    margin: 0 auto;
    background: rgba(27, 25, 25, 0.987);
  
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    
  }
  
  .login-box-light {
    width: 260px;
    padding: 20px;
    margin: 0 auto;
    background: rgba(221, 221, 221, 0.987);
  
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  .color{
    /* background-color: #3e3c3f; */
    border: none;
    margin-right: 10px;
    background-color: rgb(150, 147, 147);
    height: 20px;
    width: 50px;
    padding: 0;
    
  }

}
